*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-style: none;
}

html{
    font-size: 62.5%;
    background: url(./images/flag_of_barovia_by_chirhokin_de7oe5y.jpg) no-repeat center top;
}

header{
    width: 100%;
    height: 62rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

audio{
    opacity: 0%;
    transition: opacity 2s;
}

.musica-inicial{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.init-page{
    color: #b2bec3;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: color 3s;
}

.init-page p{
    font-family: 'Benne', serif;
    font-style: italic;
    font-size: 1.8rem;

    margin: 1.5rem 0rem 1rem;

    transition: color 1s;
}

.init-page h1{
    font-family: 'Castoro', serif;
    font-size: 8rem;

    margin: -2.2rem 0;
    letter-spacing: 2rem;
    text-shadow: 2px 3px 10px #636e72;

    transition: 2s;
}

.init-page h3{
    font-family: 'Lora', serif;
    font-size: 1.2rem;

    margin: 1rem 0;

    letter-spacing: 1rem;

    transition: letter-spacing 2s;
}

.init-page:hover{
    color: transparent;
}

.init-page h1:hover{
    margin: -2.2rem 0 0 6rem;
    letter-spacing: 7rem;
}

.init-page p:hover{
    color: transparent;
}

.noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
}

audio:hover{
    opacity: 30%;
}

@media screen and (max-width: 31.4rem) {
    html {
        background-position: center -40rem;
    }

    .init-page{
        height: 70rem;

    }

    .init-page h1{
        margin: -2rem 0;
        font-size: 4.5rem;
    }

    .init-page h3{
        font-size: 1.1rem;
        letter-spacing: 0.5rem;
    }

    .init-page p{
        font-size: 1.5rem;
        margin: 0.5rem 0rem 0.5rem;
    }
}

