.top-bar{
    list-style-type: none;
    overflow: hidden;
    background-color: var(--background2);
    border-color: var(--background1);
    border-width: 0.4rem 1.5rem;
    border-style: solid;
    opacity: 80%;
}

.top-bar li{
    float: left; 
    width: 25%;
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    font-weight: bold;
    font-variant: small-caps;
}
  
.top-bar li a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 1.5rem 1rem;
    text-decoration: none;
}
  
.top-bar li a:hover:not(.active) {
    background-color: var(--background3);
}

.active {
    background-color: var(--background1);
}