.news{
    width: 100%;
    height: 63rem;

    background-color: #d2dae2;
    border-color: var(--background1);
    border-width: 0.4rem 1.5rem;
    border-style: solid;
}

.news h1{
    text-align: center;
    font-size: 7rem;

    margin: 1rem;
}

.events{
    font-size: 4rem;
}

.events div{
    float: left;
    width: 33%;
    text-align: center;
}

.vallaki-events img{
    padding: 2rem 0 0;
    width: 30.875rem;
    height: 40.25rem;
}

.krezk-events h3{
    padding: 0 0 17.5rem;
}

.berez-events h3{
    padding: 0 0 2rem;
}


